.capricorn-img {
  position: absolute;
  left: 6%;
  top: 32%; 

  width: 36vw;
  max-width: 400px;
  min-width: 150px;
  height: auto;

  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;

  /* Glow */
  filter: drop-shadow(0 0 16px rgba(120, 200, 255, 0.7));
  transition: filter 0.3s ease;
  z-index: 3;
}

.capricorn-img:hover {
  filter: drop-shadow(0 0 24px rgba(147, 241, 239, 1))
          drop-shadow(0 0 32px rgba(14, 165, 233, 0.9));
}
